footer {
  padding: 22px 25px;
  background-color: var(--darkgrey-color);
  color: white;

  li {
    display: flex;
    align-items: flex-start;
    padding: 7px;
    gap: 7px;
  }

  h3 {
    font-family: 'Shrikhand', cursive;
  }
}