form {
    background-color: var(--grey-color);
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid transparent;

    input {
        border: none;
        font-weight: 500;
        background-color: var(--grey-color);
        color: black;    
    }
}