/***************ANIMATIONS***************/

/*************** Heart ***************/
.heart {
    background-image: $button;
    color: transparent;
    opacity: 0;
    transition: all 0.8s ease-in-out;
    -webkit-background-clip: text;
    background-clip: text;

    &:hover, 
    &:focus {
        opacity: 1;
    }

    .heart::after {
        content: "";
        opacity: 1;
        color: transparent;
        transition: all 1.5s ease-in-out;
    }

    .heart:hover::after,
    .heart:focus::after {
        opacity: 0;
    }
}

/*************** Loader ***************/
@keyframes rotate {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

@keyframes changeColor {

    0% {
        border-top: 8px solid $primary-color;
    }

    50% {
        border-top: 8px solid $secondary-color;
    }

    100% {
        border-top: 8px solid $primary-color;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $lightgrey;
    animation: fadeOut 1.5s linear forwards;

    .loader {
        position: relative;
        border-radius: 100px;
        width: 200px;
        height: 200px;
        animation: rotate 1.5s linear infinite, changeColor 1.5s linear;
    }

    .fork {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 4em;
        color: black;
        opacity: 0.8;
        transform: translate(-50%, -50%);
    }
}

/*************** animation apparition menu ***************/

@keyframes anim-menu {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.entrees {
    animation: anim-menu 1s;
}

.plats {
    animation: anim-menu 2s;
}

.desserts {
    animation: anim-menu 3s;
}