.presentation {
  background-color: $lightgrey;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;

  h1 {
    font-size: $title-font-size;
    font-weight: $bold-font-weight;
  }

  p {
    font-size: $secondary-font-size;
    margin: 0;
    padding-bottom: 20px;
  }

  a {
    color: $white;
    font-weight: $medium-font-weight;
    background: $button;
    padding: 18px;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 8px 12px 2px rgb(180, 180, 180);
      transform: scale(1.01);
      opacity: 0.9;
    }
  }
}

.fonctionnement {
  padding: 18px;
  font-weight: $medium-font-weight;

  ol {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 26px 0px 0px 12px;
    counter-reset: li;
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 29px 38px 28px 37px;
    background: $lightgrey;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    cursor: pointer;

    &::before {
      counter-increment: li;
      content: counters(li, ".") "";
      position: absolute;
      left: -12px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      border-radius: 100%;
      background: $primary-color;
      color: white;
    }

    &:hover i {
      color: $primary-color;
    }

  }

  i {
    padding-right: 20px;
    color: $greytransparency;
  }

}


.restaurants {
  background-color: $lightgrey;
  padding: 20px;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
  }

  figure {
    margin: 0;
    height: 240px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  li {
    width: 100%;
    position: relative;
  }

  img {
    width: 100%;
    height: 171px;
    border-radius: 20px 20px 0px 0px;
  }

  figcaption {
    padding: 10px;
  }

  h3 {
    font-size: $secondary-font-size;
    font-weight: $bold-font-weight;
    margin: 0;
    padding-bottom: 5px;
  }

  p:not(.new) {
    margin: 0;
  }

  .new {
    width: 60px;
    height: 18px;
    position: absolute;
    right: 30px;
    background-color: $third-color;
    color: $green-color;
    font-size: $third-font-size;
    font-weight: $medium-font-weight;
    text-align: center;
    padding: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }

  i {
    position: absolute;
    bottom: 30px;
    right: 25px;
    font-size: 20px;
    cursor: pointer;
  }

  .fa-solid {
    opacity: 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.6s ease-in-out;
    background-image: $button;

    &:hover {
      opacity: 1;
    }

  }
}

/****** Media queries ***********/
@media (min-width: 768px) {

  .restaurants {

    box-sizing: border-box;

    li {
      width: calc((100% - 40px) / 2);
    }

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 40px;
    }

    figure {
      height: 251px;
    }
  }
}

@media (min-width: 1200px) {

  .fonctionnement {
    padding: 50px 140px;

    ol {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 50px;
      justify-content: flex-start;
    }

    li {
      width: calc((100% - 40px) / 3);
    }
  }

  .restaurants {
    padding: 50px 140px;
  }
}