
/*family font*/

$principal-family-font:'Roboto', sans-serif;
$secondary-family-font: 'Shrikhand', cursive;


/*font size*/

$principal-font-size:16px;
$title-font-size:24px;
$secondary-font-size: 18px;
$menu-title-font-size:28px;
$third-font-size: 14px;

/*font weight*/

$normal-font-weight:300;
$second-medium-font-weight:400;
$medium-font-weight:500;
$bold-font-weight:700;

/*color*/

$primary-color: #9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;
$green-color:#008766;
$blue:#89C8FA;
$white: white;
$grey:#EAEAEA;
$darkblue: #003A68;
$lightgrey:#F6F6F6;
$black:black;
$darkgrey:#353535;
$greytransparency:#7E7E7E;
$button:linear-gradient(0deg, #9356dc 0%, #ff79da 100%);


